<ul class="nav">
  <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
     </a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#student" aria-expanded="false" aria-controls="student">
         <i class="icon-head menu-icon"></i>
         <span class="menu-title">Students</span>
  		 <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="student">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/add_student.html">Add Student</a></li>
           </ul>
      </div>
      <div class="collapse" id="student">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/show_students.html">Student Details</a></li>
            </ul>
      </div>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#staff" aria-expanded="false" aria-controls="staff">
         <i class="icon-head menu-icon"></i>
         <span class="menu-title">Teachers</span>
  		 <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="staff">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/staff/add_staff.html">Add Teacher</a></li>
            </ul>
      </div>
      <div class="collapse" id="staff">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/show_students.html">Teachers with Class</a></li>
            </ul>
      </div>
      <div class="collapse" id="staff">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/staff/show_staffs.html">All Teachers</a></li>
           </ul>
      </div>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#attendance" aria-expanded="false" aria-controls="attendance">
         <i class="icon-paper menu-icon"></i>
         <span class="menu-title">Attendances</span>
  		 <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="attendance">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/add_student.html">Student Attendance</a></li>
           </ul>
      </div>
      <div class="collapse" id="attendance">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/show_students.html">Staff Attendance</a></li>
            </ul>
      </div>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#department" aria-expanded="false" aria-controls="department">
         <i class="icon-bar-graph menu-icon"></i>
         <span class="menu-title">Departments</span>
  		 <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="department">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/add_student.html">All Departments</a></li>
           </ul>
      </div>
      <div class="collapse" id="department">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/show_students.html">Department Category</a></li>
            </ul>
      </div>
      <div class="collapse" id="department">
           <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="../../pages/student/show_students.html">Add Department</a></li>
            </ul>
      </div>
  </li>      	
</ul>
